.profileimg{
	width:45px;
	border-radius: 50%;
}
.postprofileimg{
	width:35px;
	border-radius: 50%;
	margin-right:10px;
}
.postname{
	font-weight: 600;
}
.postdate{
	float: right;
	font-weight: 600;
}
.postfooterbutton{
	display: block;
}

.agreenum{
	float:left;
	font-weight: 600;

}

.objectnum{
	float:left;
	font-weight: 600;
}

.postscore{
	color:rgb(64,64,64);
	font-weight: 600;
}

a{
	color:rgb(64,64,64);
	text-decoration: none;
}
a:visited{
	color:rgb(64,64,64);
	text-decoration: none;
}
a:hover{
	color:rgb(0,0,0);
	text-decoration: none;
}
a:active{
	color:rgb(64,64,64);
	text-decoration: none;
}

table tr:not(.fble_htr) {
    counter-increment: rowNumber;
}

table tr:not(.fble_htr) td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}

.ratingchoice{
	margin-top:15px;
}

.profilenametext{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}



